# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.temp

# Dependency directories
package-lock.json
